*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.conteiner{
  
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: 500;
    font-size: 23px;
   
}

h2{
    font-weight: 500;
    font-size: 15px;
    color:darkgray;
}

h3{
    font-weight: 500;
    font-size: 15PX;   
}

h4{
    font-weight: 500;
    font-size: 15px;
    color:darkgray;
}

.card{
    position:relative;
    background-color: #fff;
    width: 350px;
    height: 200px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    border-radius: 15px;
    transition: all 0.4s ease-in-out;   
    margin-right: 10px;
}

.card:hover{
    height: 450px;
}

.pb, img{
 position: absolute;
 top: -45px;
 left: 50%;
 transform: translate(-50%,0%);
 background-position: center;
 background-size: cover ;
 background-repeat: no-repeat;
 height: 150px;
 width: 150px;
 border-radius: 15px;
 box-shadow: 0 15px 50px rgba(0,0,0,0.35) ;
 transition: all 0.4s ease-in-out;
}



.card:hover .pb, img{
    height: 150px;
    width: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0px 10px 0px;
    transition: all 0.4s ease-in-out;
}

.card:hover .info{
   display: flex;
   padding: 230px 0px 10px 0px;
}

.detail{
   position: relative;
   display: flex;
   opacity: 0;
   z-index: -10;
   justify-content: space-between;
   padding: 10px 50px;
   transform: translateX(-20px);
   transition-timing-function: linear;
   transition-duration: 0s, 0.2s ,0.2s;
   transition-property: z-index,opacity,transform;
   transition-delay: 0.2s,0s,0s;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover .detail{
    opacity: 1;
    z-index: 0;
    transform: translateX(0px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.3s, 0.3s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0s, 0.2s, 0.2s;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
    top: 0%;
}

.menu{
    width: 100%;
    background: #2f2f2f;
    text-align: center;
    position: fixed;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    padding: 20px;
    transition: all .3s ease;
}


.menu ul li:hover{
    transform: scale(1.2);
    background: #e94f37;
}

.menu ul li a{
   color: #fff;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
}




