<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Registro</title>
  </head>
  <body>
    <section class="vh-150">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <div class="logo mx-auto ">Logo</div>
                    <div class="titulo">
                    <h3 class="fw-bold mb-2 text-uppercase">ProgramLab</h3>
                    <p class="text-50 mb-5">Registro</p>
                  </div>    
                    <div class=" log ema form-outline form-white mb-4">
                      <!-- <label class="form-label" for="typeEmailX">Email</label> -->
                      <input type="text" id="typeEmailX" placeholder="Nombre de Usuario" class="form-control form-control-lg" />
                    </div>
      
                    <div class=" log contra form-outline mb-4">
                      <input type="email" id="typePasswordX" placeholder="Email" class="form-control form-control-lg" />
                      <!-- <label class="form-label" for="typePasswordX">Password</label> -->
                    </div>
                    <div class=" log ema form-outline form-white mb-4">
                        <!-- <label class="form-label" for="typeEmailX">Email</label> -->
                        <input type="password" id="typeEmailX" placeholder="Contraseña" class="form-control form-control-lg" />
                      </div>
        
                      <div class=" log contra form-outline mb-4">
                        <input type="password" id="typePasswordX" placeholder="Confirmar Contraseña" class="form-control form-control-lg" />
                        <!-- <label class="form-label" for="typePasswordX">Password</label> -->
                      </div>
      
                    <button class=" log btn btn-dark btn-lg px-5" type="submit">Registrarce</button>
      
                    <div class=" items sd-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class=""><i class="bi bi-facebook bi-lg"></i></a>
                      <a href="#!" class=""><i class="bi bi-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class=""><i class="bi bi-google fa-lg"></i></a>
                    </div>
      
                  </div>
      
                  <div class=" reg">
                    <p class="mb-0">¿Ya tienes una cuenta? <a href="login.ejs" class="text-50 fw-bold">Iniciar Sesion</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>