<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   <link rel="stylesheet" href="/mod/programlab/css/styles.css">
  </head>
  <body> 
  <header>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{info}}">INFORMACION</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{editor}}">EDITOR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{texto}}">INFORME</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{acercade}}">ACERCA DE</a>
  </li>
</ul>
  </header>
    <div class="conteiner">
<div class="card">
 <div class="pb">
 <img src="http://drive.google.com/uc?export=view&id=1TLvxRcINFgHjyN8TUL35BqYh15q3beVy"/>
 </div>
    <div class="info">
      <h1>Luis German Cardenas Guerrero</h1>
      <h2>Estuidante de sistematizacion de datos</h2>
 </div>
 <div class="detail">
    <div class="col">
      <h4>Correo</h4>
      <h3>Lugecardenas2000@gmail.com</h3>
    </div>
 </div>
</div>

<div class="card">
    <div class="pb">
    <img src="http://drive.google.com/uc?export=view&id=1_I4gmuPlSG2ZbFpKBfqg9B2mxusK-dWs"/>
    </div>
       <div class="info">
          <h1>Julian Andres Cardona Sanchez</h1>
          <h2>Estuidante de sistematizacion de datos</h2>
    </div>
    <div class="detail">
      <div class="col">
          <h4>Correo</h4>
          <h3>jacardonas@udistrital.edu.co</h3>
      </div>
    </div>
   </div>
   <div class="card">
    <div class="pb">
    <img src="http://drive.google.com/uc?export=view&id=1ifJyow5rMxF_Kpv74CMjFTfUMZs4nZfv"/>
    </div>
       <div class="info">
           <h1>Rocio Rodriguez Guerrero</h1>
           <h2>Docente de Planta</h2>
    </div>
    <div class="detail">
       <div class="col">
           <h4>Correo</h4>
           <h3>rrodriguezg@udistrital.edu.co</h3>
       </div>
    </div>
   </div>
   </div>
  </body>
</html>
