<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
  <header>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{info}}">INFORMACION</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{editor}}">EDITOR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{texto}}">INFORME</a>
  </li>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{acercade}}">ACERCA DE</a>
  </li>
</ul>
  </header>
    <h1>Editor de código Python</h1>
    <iframe src="https://trinket.io/embed/python3/29606dcc83?start=result" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </body>
</html>
