<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{info}}">INFORMACION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{editor}}">EDITOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{texto}}">INFORME</a>
          </li>
        <li class="nav-item">
        <a class="nav-link" href="{{acercade}}">ACERCA DE</a>
      </li>
      </li>
      </ul>
    </header>
    <h1>SCORM</h1>
    <a href="/course/modedit.php?add=scorm&type=&course=1&section=1&return=0&sr=0">Add SCORM</a>
    <div class="activity-item " data-activityname="OVA">
      <a class="editing_move" data-action="move" data-sectionreturn="1" title="Mover" aria-label="Mover" href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;copy=60"><i class="icon fa fa-arrows fa-fw iconsmall" aria-hidden="true"></i></a> 
        <div class="activity-basis d-flex align-items-center">
          <div class="d-flex flex-column flex-md-row w-100 align-self-start">
            <div class="activity-instance d-flex flex-column">
              <div class="activitytitle media  modtype_scorm position-relative align-self-start">
                <div class="activityiconcontainer content courseicon align-self-start mr-3">
                  <img src="http://localhost/theme/image.php/moove/scorm/1681873720/monologo?filtericon=1" class="activityicon " alt="scorm icon">
                </div>
                <div class="media-body align-self-center">
                  <div class="text-uppercase small">
                    Paquete SCORM
                  </div>
                  <div class="activityname">
                    <span class="inplaceeditable inplaceeditable-text" data-inplaceeditable="1" data-component="core_course" data-itemtype="activityname" data-itemid="60" data-value="OVA" data-editlabel="Nuevo nombre para actividad OVA" data-type="text" data-options="">
                    <a href="http://localhost/mod/scorm/view.php?id=60" class=" aalink stretched-link" onclick="">        <span class="instancename">OVA <span class="accesshide "> Paquete SCORM</span></span>    </a>
                    <a href="#" class="quickeditlink aalink" data-inplaceeditablelink="1" title="Editar título">  
                    <span class="quickediticon visibleifjs">
                      <i class="icon fa fa-pencil fa-fw " title="Editar título" role="img" aria-label="Editar título"></i>
                    </span>
                    </a>
                    </span>              
                  </div>
                </div>
              </div>
            </div>
            <div class="activity-info mt-1 mt-md-0">
              <div data-region="activity-information" data-activityname="OVA" class="activity-information">
            </div>
            </div>
          </div>
          <div class="activity-actions align-self-start">
            <div class="cm_action_menu actions" data-cmid="60">
              <div class="action-menu moodle-actionmenu section-cm-edit-actions commands" id="action-menu-5" data-enhance="moodle-core-actionmenu" data-owner="#module-60">                  
                <div class="menubar d-flex " id="action-menu-5-menubar">               
                  <div class="dropdown">
                    <a href="#" tabindex="0" class="btn btn-icon d-flex align-items-center justify-content-center dropdown-toggle icon-no-margin" id="action-menu-toggle-5" aria-label="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="action-menu-5-menu">
                    <i class="icon fa fa-ellipsis-v fa-fw " title="Editar" role="img" aria-label="Editar"></i> 
          <b class="caret"></b>
            </a>
                <div class="dropdown-menu menu dropdown-menu-right" id="action-menu-5-menu" data-rel="menu-content" aria-labelledby="action-menu-toggle-5" role="menu" data-constraint=".course-content">
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;update=60" class="dropdown-item editing_update menu-action cm-edit-action" data-action="update" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-26">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-26">Editar ajustes</span>
            </a>
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;id=60&amp;indent=1" class="dropdown-item editing_moveright  menu-action cm-edit-action" data-action="moveright" data-keepopen="1" data-sectionreturn="1" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-27">
                    <i class="icon fa fa-arrow-right fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-27">Mover a la derecha</span>
            </a>
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;id=60&amp;indent=-1" class="dropdown-item editing_moveleft hidden menu-action cm-edit-action" data-action="moveleft" data-keepopen="1" data-sectionreturn="1" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-28">
                    <i class="icon fa fa-arrow-left fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-28">Mover a la izquierda</span>
            </a>
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;hide=60" class="dropdown-item editing_hide menu-action cm-edit-action" data-action="hide" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-29">
                    <i class="icon fa fa-eye fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-29">Ocultar</span>
            </a>
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;duplicate=60" class="dropdown-item editing_duplicate menu-action cm-edit-action" data-action="duplicate" data-sectionreturn="1" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-30">
                    <i class="icon fa fa-copy fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-30">Duplicar</span>
            </a>
                                <a href="http://localhost/admin/roles/assign.php?contextid=81" class="dropdown-item editing_assign menu-action cm-edit-action" data-action="assignroles" data-sectionreturn="1" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-31">
                    <i class="icon fa fa-user-circle fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-31">Asignar roles</span>
            </a>
                                <a href="http://localhost/course/mod.php?sesskey=rGNHGksvjL&amp;sr=1&amp;delete=60" class="dropdown-item editing_delete menu-action cm-edit-action" data-action="delete" data-sectionreturn="1" role="menuitem" tabindex="-1" aria-labelledby="actionmenuaction-32">
                    <i class="icon fa fa-trash fa-fw " aria-hidden="true"></i>
                    <span class="menu-action-text" id="actionmenuaction-32">Borrar</span>
              </a>
              </div>
          </div>      
          </div>                            
      </div>                    
      </div>
    </div>
  </div>                                                      
  <div class="description">
      </div>
      </div>
    </body>
</html>