<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Quill Example</title>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  
  <style>
    #editor {
      height: 600px;
    }
  </style>
</head>
  <body>
    <header>
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{texto}}">INFORMACION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{editor}}">EDITOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{texto}}">INFORME</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{acercade}}">ACERCA DE</a>
      </li>
    </ul>
      </header>
      <div id="editor"></div>
      <button id="download-pdf" style="background-color: #0f47ad; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; font-size: 18px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); transition: all 0.2s ease-in-out;">
        Download as PDF
      </button>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
      <script src="/mod/programlab/js/text.js"></script>
      <script src="/mod/programlab/js/jspdf.min.js"></script> 
</body>
</html>
